{% include "includes/header.html" %}

    <section id='banner' class='container-fluid'>
        <div class="banner-info vhCenter">
            <h4 class='heading'>Mariano Meijome</h4>
            <div class='line'></div>
            <p>Data scientist, machine learning engineer, 3D artist</p>
<!--            <button class="btn btn-primary">Nice!</button>-->
        </div>
    </section>
    
    <section id="main-content" class='container-fluid'>
        <div class="row">
            <div class="col"></div>
        	<div class="col-m-8 description">
                <h5>Skills: Classifiers, transfer learning, model deployment </h5>
                <h5>Languages: Python, javascript, GNU Octave</h5>
                <h5>Frameworks: Keras, TensorFlow, PyTorch</h5>
                <h5>Experience: 1 year</h5>
                <h5>Certificates: Machine Learning by Standford University, Deep Learning Specialization by deeplearning.ai, Deep Learning with Python by DataCamp</h5>
                <hr>
    
                <p>My interests include computer vision, 3D reconstruction, object localization and more. </p>
            </div>
            <div class="col"></div>
    	</div>

    </section>
{% include "includes/footer.html" %}